/* * {
    padding: 0;
    margin: 0;
} */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap'); 

@font-face {
    font-family: 'odin';
    src: url('fonts/norse-bold-webfont.woff2') format('woff2'),
        url('fonts/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'typewriter';
    src: url('fonts/veteran_typewriter-webfont.woff2') format('woff2'),
        url('fonts/veteran_typewriter-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

legend {
   display: none;
}

.container {
    display: flex;
    height: 100vh;
}
.box {
    flex: 1;
    display: flex;
    flex-direction: column;
    
}


.overlay {
    position: relative;
    bottom: 3%;
    color: white;
    display: flex;
}

.left-top {
    display: flex;
    flex: 1;
    align-items: flex-end;
    max-width: 100%;
}

.left-bottom {
    display: flex;
    flex: 1;
    align-items: flex-end;
    justify-content: center;
}

.outerbox {
    display: flex;
    align-items: center;
    background-color: rgba(1, 18, 1, 0.31); 
    padding: 2%;
    flex: 1;
    justify-content: center;
    flex-direction: row-reverse;
    
}

.container > :first-child {
   /*  align-items: center; */
    background-image: url(img/matt-houghton.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;

}

.odin-img {
    justify-content: center;
}

.odin-text {
    font-family: "odin";
    font-size: 100px;
    color: white;
}

.container > :nth-child(1) > :first-of-type(div) {
    display: flex;

}

.container >:nth-child(2){
    flex: 1.5;
    font-family: Roboto, sans-serif;
    font-size: 18px;

}

.top, form {
    display: flex;
    flex: 1;

}
.top {
    flex-direction: column-reverse;
    background-color: whitesmoke; 
}
form{
    flex-direction: column;
    background-color: white;
}
.middle {
    box-shadow: 0 0px 25px rgb(0 0 0 / 0.2);
    
}

.signup {
    
    align-items: stretch;
}

.signcontainer{
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
    min-width: 311px;
}
.cont {
    min-width: 150px;
    position: relative;
    left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.bottom {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: whitesmoke;
    box-shadow:  0 0px 25px rgb(0 0 0 / 0.2);
    
}

button {
    font-family: Roboto, sans-serif;
    color: white;
    font-size: 15px;
    background-color: #596D48;
    border: none;
    padding: 15px 32px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.buttoncontainer {
   position: relative;
   top: 20px;
   left: 20px;
}
p {
    padding: .5em;
}
label {
    display: block;
    font-size: 8px;
    letter-spacing: .05em;
}

a {
    color: white;
}

.overlay {
    font: .8em "Roboto", normal, normal;
    background: none;
    
}

.bottom > :nth-child(2) > p > a {
    color: #596D48;
    text-decoration: none;
    
}

.bottom > :nth-child(2) {
    margin-top: 2%;
}

.middle {
    padding-bottom: 2%;
}

input {
    border: .1em solid #E5E7EB;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 5px;
}

input:invalid{
    border-color: red;
}

input:valid{
    border-color: green;
}

input:focus {
    box-shadow: 0 0 0px 2px rgb(235, 227, 227);
    background: #fff;
}