/* * {
    padding: 0;
    margin: 0;
} */

legend {
   display: none;
}

.container {
    display: flex;
    height: 100vh;
}
.box {
    flex:1;
    display: flex;
    flex-direction: column;
}

/* img {
    width: 100%;
    height: 100%;
} */

.example img {
    width: 100%;
}

.example .overlay {
    position: absolute;
    top: 5px;
    left: 15px;
    font-weight: bold;
    text-align: center;
    font-size: 10px;
    color: pink;
}

.container > :first-child {
    align-items: center;
    justify-content: end;
}

.container > :nth-child(1) > div {
    justify-content: center;
    
}

.container >:nth-child(2){
    flex: 1.5;
}

.top, form {
    display: flex;
    flex: 1;

}
.top {
    flex-direction: column-reverse;
    background-color: whitesmoke; 
}
form{
    flex-direction: column;
    background-color: white;
}
.middle {
    box-shadow: 0 0px 25px rgb(0 0 0 / 0.2);
    
}

.signup {
    
    align-items: stretch;
}

.signcontainer{
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
    min-width: 311px;
}
.cont {
    min-width: 150px;
    position: relative;
    left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.bottom {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: whitesmoke;
    box-shadow:  0 0px 25px rgb(0 0 0 / 0.2);
    
}

.buttoncontainer {
   position: relative;
   top: 10px;
   left: 10px;
}
p {
    padding: .5em;
}
label {
    display: block;
}